:root {
    --primary: #5271fe;
    --secondary: #7c93fb;
    --third: #b7c4fe;

    --dark-blue: #1c2656;
    --dark-secundary: #333;
    --dark: #000;
}

*{
    margin: 0;
    padding: 0;
}

/* styles to tag's */
body{
    background-color: var(--dark-secundary);
}

header{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}

main{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
    /* tamanho*/
    height: 60vh;
    /* Add grip */
    display: grid;
    gap: 2em;
}

aside {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    flex: 1;
}

article {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    flex: 1;
    gap: 2em;
    display: grid;
}

article section {
    background-color: var(--third);
    border-radius: 1em;
    padding: 2em;
    flex: 1;
}

section {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
}

footer{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}

/* Styles to class */

.init {
    display: grid;
    padding: 2em;
    gap: 2em;
}

.main-body {
    display: flex;
    gap: 2em;
}